@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');


h1 {
  font-size: 2.2rem;
  color: lighten($orange, 25);
}

.test {
  font-size: 1.2rem;
  color: $blue;
}

.shadow{
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1), 3px 3px 5px rgba(0,0,0,0.1);
}

.hr{
	border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba($white,0), rgba($white,0.75), rgba($white,0)); 
    background-image:    -moz-linear-gradient(left, rgba($white,0), rgba($white,0.75), rgba($white,0)); 
    background-image:     -ms-linear-gradient(left, rgba($white,0), rgba($white,0.75), rgba($white,0)); 
    background-image:      -o-linear-gradient(left, rgba($white,0), rgba($white,0.75), rgba($white,0)); 
}
