$red:   #E0645C;
$dark:  #444444;
$light: #999999;
$blue:  #2DB6CF;
$green: #46b98a;
$white: #FFFFFF;
$orange: #BD3613;
$black: #0a0a0a;

$white : #ffffff;

$blue1 : #1B3059;
$blue2 : #5872A6;
$blue3 : #4A88D9;
$blue4 : #66BCF2;
$green : #80BF41;

$bgred : #EB7260;
$bgblue : #77C5F7;
$bgazure : #0D1116;
$bgbrown : #E9E0D6;
$bggreen : #1F807B;
$bgyellow : #FFCC33;

$baseLineHeight : 30px;
$baseMagin : 10px;
$basePadding : 5px;
$navbar-width : 60px;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;