/*
    Mobile Menu Core Style
*/
/* line 5, ../../sass/slicknav.scss */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }

/* line 6, ../../sass/slicknav.scss */
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left; }

/* line 7, ../../sass/slicknav.scss */
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em; }

/* line 8, ../../sass/slicknav.scss */
.slicknav_menu .slicknav_no-text {
  margin: 0; }

/* line 9, ../../sass/slicknav.scss */
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }

/* line 10, ../../sass/slicknav.scss */
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em; }

/* line 11, ../../sass/slicknav.scss */
.slicknav_nav {
  clear: both; }

/* line 12, ../../sass/slicknav.scss */
.slicknav_nav ul,
.slicknav_nav li {
  display: block; }

/* line 14, ../../sass/slicknav.scss */
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em; }

/* line 15, ../../sass/slicknav.scss */
.slicknav_nav .slicknav_item {
  cursor: pointer; }

/* line 16, ../../sass/slicknav.scss */
.slicknav_nav .slicknav_row {
  display: block; }

/* line 17, ../../sass/slicknav.scss */
.slicknav_nav a {
  display: block; }

/* line 18, ../../sass/slicknav.scss */
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: inline; }

/* line 20, ../../sass/slicknav.scss */
.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table; }

/* line 22, ../../sass/slicknav.scss */
.slicknav_menu:after {
  clear: both; }

/* IE6/7 support */
/* line 24, ../../sass/slicknav.scss */
.slicknav_menu {
  *zoom: 1; }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
/* line 31, ../../sass/slicknav.scss */
.slicknav_menu {
  font-size: 16px;
  z-index: 16; }

/* Button */
/* line 36, ../../sass/slicknav.scss */
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222222; }

/* Button Text */
/* line 46, ../../sass/slicknav.scss */
.slicknav_menu .slicknav_menutxt {
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 1px 3px #000; }

/* Button Lines */
/* line 52, ../../sass/slicknav.scss */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5; }

/* line 55, ../../sass/slicknav.scss */
.slicknav_menu {
  background: #4c4c4c;
  padding: 5px; }

/* line 59, ../../sass/slicknav.scss */
.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em; }

/* line 65, ../../sass/slicknav.scss */
.slicknav_nav, .slicknav_nav ul {
  list-style: none;
  overflow: hidden; }

/* line 69, ../../sass/slicknav.scss */
.slicknav_nav ul {
  padding: 0;
  margin: 0 0 0 20px; }

/* line 73, ../../sass/slicknav.scss */
.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px; }

/* line 77, ../../sass/slicknav.scss */
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #fff; }

/* line 83, ../../sass/slicknav.scss */
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0; }

/* line 88, ../../sass/slicknav.scss */
.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #fff; }

/* line 95, ../../sass/slicknav.scss */
.slicknav_nav a:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #222; }

/* line 102, ../../sass/slicknav.scss */
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px; }
